/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--grey500);
  min-height: 100vh;
  padding: 4rem 2rem;
}

.header {
  text-align: center;
  max-width: 540px;
  margin: 0 auto 4rem;
}

.main-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.main-title span {
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.description {
  color: var(--grey400);
  font-size: 0.9375rem;
}

.card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--grey500);
}

.card p {
  font-size: 0.8rem;
  color: var(--grey400);
  line-height: 1.6;
}

.card img {
  align-self: flex-end;
  margin-top: 2rem;
}

.cyan {
  border-top: 4px solid var(--cyan);
}
.red {
  border-top: 4px solid var(--red);
}
.orange {
  border-top: 4px solid var(--orange);
}
.blue {
  border-top: 4px solid var(--blue);
}

.card-grid {
  display: grid;
  gap: 2rem;
  max-width: 1110px;
  margin: 0 auto;
}

/* Responsiveness */

@media (min-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .cyan {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .red {
    grid-column: 2;
    grid-row: 1;
  }

  .orange {
    grid-column: 2;
    grid-row: 2;
  }

  .blue {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
